{% extends uns ~ '/front/layout.html.twig' %}

{% block user_recover_password %}

{% if token_type is defined %}
<p>
{{ (duns ~ 'recover_password_confirm.texts.welcome')|trans }}
</p>
{{ form(user_change_password_form) }}
{% endif %}

{% if _login_route %}
<p>
<a href="{{ path(_login_route) }}">{{ (duns ~ 'recover_password_confirm.labels.login')|trans }}</a>
</p>
{% endif %}

{% endblock user_recover_password %}