{% extends uns ~ '/front/layout.html.twig' %}

{% block user_recover_password %}

<p>
{{ (duns ~ 'recover_password.texts.welcome')|trans|e }}
</p>

{{ form(user_recover_password_form) }}

{% if _login_route %}
<p>
<a href="{{ path(_login_route) }}">{{ (duns ~ 'recover_password.labels.login')|trans|e }}</a>
</p>
{% endif %}

{% endblock user_recover_password %}